---
layout: default
---

<article>
  <header>
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
      {%- if page.tags and page.tags != empty %}
      <span class="tag-list">
        {%- for tag in page.tags %}
        <a class="tag" href="/tags.html#{{ tag | uri_escape }}">{{ tag }}</a>
        {%- endfor %}
      </span>
      {%- endif %}
    </div>
  </header>

  <div class="prose">
    {{ content | auto_spacing }}
  </div>

  {%- comment -%}
    上下篇导航过去挂在 page.guid 上，而现存文章一篇都没有 guid，等于每篇文章
    都是死路。导航跟评论解绑，评论才继续看 guid。
  {%- endcomment -%}
  {%- if page.previous or page.next %}
  <nav class="post-nav" aria-label="文章导航">
    {%- if page.previous %}
    <a class="post-nav-link is-previous" href="{{ page.previous.url }}" rel="prev">
      <span class="direction">{% include icon.html name="arrow-left" %}上一篇</span>
      <span class="headline">{{ page.previous.title }}</span>
    </a>
    {%- endif %}
    {%- if page.next %}
    <a class="post-nav-link is-next" href="{{ page.next.url }}" rel="next">
      <span class="direction">下一篇{% include icon.html name="arrow-right" %}</span>
      <span class="headline">{{ page.next.title }}</span>
    </a>
    {%- endif %}
  </nav>
  {%- endif %}

  {%- if page.guid %}
  <section class="comments">
    <button type="button" class="comment-toggle" data-comment-toggle
            data-shortname="{{ site.disqus }}" data-identifier="{{ page.guid }}">
      {% include icon.html name="comment" %}留言
    </button>
    <div class="comment-thread" id="disqus_thread"></div>
    <noscript><p>需要开启 JavaScript 才能看到 <a href="https://disqus.com/?ref_noscript">Disqus</a> 评论。</p></noscript>
  </section>
  {%- endif %}
</article>
